/* src/views/pricing/Pricing.css */

.pricing-container {
  margin-top: 20px; /* Adjust the margin to reduce the gap from the top */
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   /* max-width: 400px;  */
  margin: 0 auto;
  min-height: 72vh;
}

.pricing-title {
  text-align: start;
  margin-bottom: 1rem;
  color: #333;
}

.pricing-form .form-group {
  margin-bottom: 1rem;
  width: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
}

 .label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  width:12rem;
}
.price{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

/* .group{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.pricing-form .form-control {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 50%;
}

.pricing-form .btn {
  display: block;
  /* width: 100%; */
  padding:0.5rem 1.5rem ;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.pricing-form .btn:hover {
  background-color: #0056b3;
}

.offer-item {
  display: flex;
  justify-content: space-start;
  margin-bottom: 8px;
  width: 100%;
}

.offer-item input {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left:12.2rem;
  outline:none;
}

.offer-item button {
  padding:0 1.05rem;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 10px;
}

.offer-item button:hover {
  background-color: #c82333;
}
.add-offer-container-main{
  display: flex;
  /* align-items: center; */
  margin-left: 2px;
}
.add-offer-container {
  width: 70%;
  /* margin-left:18px; */
  margin-bottom: 5px;
}

.add-offer-container input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 72%;
  outline:none;
  
}

.add-offer-container button {
  padding: 0.4rem 0.9rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0px 8px;
 
}

.add-offer-container button:hover {
  background-color: #218838;
}

.add-button-group{
  margin-top:20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:50%;
  margin-left: 29%;

}

.btn-secondary{
  background-color: #555;
  outline: none;
  padding: 7px 25px;
  border-radius: 5px;
  border: none;
  color: white;
}

